.row
  .span12
    #showsView
.row
  .span12
    #topspinView
.row
  .span8
    #itunesView
  .span4
    #twitterView

:javascript
  var twitterView = new RachelAndTheKings.Views.TwitterView({el: '#twitterView'});
  twitterView.render();

  var itunesView = new RachelAndTheKings.Views.ItunesView({el: '#itunesView'});
  itunesView.render();

  var showsCollection = new RachelAndTheKings.Collections.ShowsCollection();
  showsCollection.fetch()

  var showsView = new RachelAndTheKings.Views.ShowsView({el: '#showsView', collection: showsCollection})
  showsView.render()