= link_to "Rachel And The Kings", '#', :class => 'brand'
%ul.nav
  %li= link_to "Shows", '#'
  %li= link_to "Blog", '#'
  %li= link_to "Music", '#'
%ul.nav.pull-right
  %li{style: 'padding:8px'}
    %a.twitter-follow-button{href: 'https://twitter.com/RAT_Kings', 'data-show-count' => 'false', 'data-show-screen-name' => 'false'} Follow @RAT_Kings
  %li{style: 'padding:8px'}
    .fb-like{'data-href' => "http://rachelandthekings.com", 'data-send' => 'false', 'data-layout' => 'button_count', 'data-width' => '50', 'data-show-faces' => 'false', 'data-font' => 'arial'}
  %li{style: 'padding:8px;width:50px'}
    .g-plusone{'data-size' => 'medium'}
  %li{style: 'padding:8px'}
    %su:badge{layout: '2'}
